<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout__title"> HEALTH SERVICES MANAGEMENT SYSTEM</span>
        <div class="mdl-layout"></div>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/login">Log in</a>
            <a class="mdl-navigation__link" href="/register">Register</a>

        </nav>
    </div>
</header>
</body>
</html>